<nav class="footer">
    Copyright &copy; 2016 - {{format-date 'YYYY' }} Gishtech &nbsp;
    | &nbsp;<a href="tel:+31657552871" title="Call me">{{fa-icon 'phone'}} +31 65 75 52 871</a>&nbsp;
    | &nbsp;<a href="mailto:kiffin.gish@planet.nl" title="Email me">{{fa-icon 'envelope'}} kiffin.gish@planet.nl</a>&nbsp;
    | &nbsp;<a href="http://www.linkedin.com/in/kiffin" title="LinkedIn account" target="_blank">{{fa-icon 'linkedin'}}</a>&nbsp;
      &nbsp;<a href="http://twitter.com/kiffin" title="Twitter account" target="_blank">{{fa-icon 'twitter'}}</a>&nbsp;
      &nbsp;<a href="http://github.com/kgish" title="GitHub account" target="_blank">{{fa-icon 'github'}}</a>
</nav>
