<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/gishtech.png" height="30" style="margin-top:-5px"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#active-link tagName='li'}}{{#link-to 'portfolios'}}{{fa-icon 'file-picture-o'}} Portfolio{{/link-to}}{{/active-link}}
                {{#active-link tagName='li'}}{{#link-to 'skills'}}{{fa-icon 'wrench'}} Skills{{/link-to}}{{/active-link}}
                {{#active-link tagName='li'}}{{#link-to 'about'}}{{fa-icon 'user'}} About{{/link-to}}{{/active-link}}
                {{#active-link tagName='li'}}{{#link-to 'contact'}}{{fa-icon 'send'}} Contact{{/link-to}}{{/active-link}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#active-link tagName='li'}}{{#link-to 'links'}}{{fa-icon 'link' className='fa-fw'}} Links{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'credits'}}{{fa-icon 'star' className='fa-fw'}} Credits{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'repository'}}{{fa-icon 'github' className='fa-fw'}} Repository{{/link-to}}{{/active-link}}
                        {{#active-link tagName='li'}}{{#link-to 'logo'}}{{fa-icon 'tag' className='fa-fw'}} Logo{{/link-to}}{{/active-link}}
                        <li role="separator" class="divider"></li>
                        {{#active-link tagName='li'}}{{#link-to 'terms-and-conditions'}}{{fa-icon 'file' className='fa-fw'}} Terms and conditions{{/link-to}}{{/active-link}}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>