<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-left">
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'index'}}
                <span class="hide-mobile">{{fa-icon 'home'}}&nbsp; </span>
                Home
            {{/link-to}}{{/active-link}}
        </ul>
        <ul class="nav nav-pills pull-right">
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'skills'}}
                <span class="hide-mobile">{{fa-icon 'wrench'}}&nbsp; </span>
                Skills
            {{/link-to}}{{/active-link}}
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'about'}}
                <span class="hide-mobile">{{fa-icon 'info-circle'}}&nbsp; </span>
                About
            {{/link-to}}{{/active-link}}
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'credits'}}
                <span class="hide-mobile">{{fa-icon 'star'}}&nbsp; </span>
                Credits
            {{/link-to}}{{/active-link}}
            {{#active-link tagName='li' role="presentation"}}{{#link-to 'contact'}}
                <span class="hide-mobile">{{fa-icon 'envelope'}}&nbsp; </span>
                Contact
            {{/link-to}}{{/active-link}}
        </ul>
    </nav>
</div>
