<h4 class="portfolio-title">{{item.title}}</h4>
<p class="portfolio-description">{{item.description}}</p>
<p class="portfolio-company"><a href="{{item.url}}" target="_blank">{{item.company}}</a></p>
<p class="portfolio-skills">
    {{#each item.skills as |skill|}}
        <span class="label label-success portfolio-skill">{{skill}}</span>
    {{/each}}
</p>
<p class="portfolio-image"><img src="assets/images/portfolios/{{item.image}}" class="img-responsive"/></p>
