<div class="btn-toolbar scores" role="toolbar">
    {{#each scores as |score|}}
        <button type="button" class="btn btn-default btn-sm">
            <a href="#" class="nounderline" {{action 'filterScore' score.value}}>{{#if (eq filterScore score.value)}}{{fa-icon 'play'}} {{/if}}{{score.title}} &nbsp;{{skill-property-score score.value}}</a>
        </button>
    {{/each}}
</div>

<div class="skills-list">
    {{#each randomSkills as |skill|}}
        {{#if (or (eq filterScore 0) (eq filterScore skill.score))}}
            {{skill-item item=skill icons=(eq filterScore 0)}}
        {{/if}}
    {{/each}}
</div>
