<div class="btn-toolbar skills-scores" role="toolbar">
    {{#each scores as |score|}}
        {{#if (eq filterScore score.value)}}
            <a href="#" class="btn btn-primary btn-sm" {{action 'filterScore' null}}>
                {{fa-icon 'play'}} {{score.title}} &nbsp;{{skill-property-score score.value}}
            </a>
        {{else}}
            <a href="#" class="btn btn-default btn-sm" {{action 'filterScore' score.value}}>
                {{score.title}} &nbsp;{{skill-property-score score.value}}
            </a>
        {{/if}}
    {{/each}}
</div>

<div class="skills-list">
    {{#each randomSkills as |skill|}}
        {{#if (or (eq filterScore 0) (eq filterScore skill.score))}}
            {{skill-item item=skill icons=(eq filterScore 0)}}
        {{/if}}
    {{/each}}
</div>
