{{#if icons}}
    <button type="button" class="btn btn-success btn-sm skill"><a class="nounderline" href="{{item.url}}">{{item.name}} &nbsp;{{skill-property-score item.score}}</a></button>
{{else}}
    <button type="button" class="btn btn-success btn-sm skill"><a class="nounderline" href="{{item.url}}">{{item.name}}</a></button>
{{/if}}
