{{#if icons}}
    <a href="{{item.url}}" class="btn btn-success btn-xs" role="button" target="_blank">{{item.name}} &nbsp; {{skill-property-score item.score}}</a>
{{else}}
    <a href="{{item.url}}" class="btn btn-success btn-xs" role="button" target="_blank">{{item.name}}</a>
{{/if}}
