<div class="row marketing">

    <div class="col-lg-12">
        <h4>Contact information</h4>
        <div class="row">
            <div class="col-lg-6">
                <blockquote>
                    <p>{{fa-icon 'envelope-o'}} &nbsp; <a href="mailto:kiffin.gish@planet.nl">kiffin.gish@planet.nl</a></p>
                    <p>{{fa-icon 'phone'}} &nbsp; <a href="tel:+31657552871">+31 65 75 52 871</a></p>
                    <p>{{fa-icon 'file-pdf-o'}} &nbsp; <a href="/assets/documents/gishtech-terms-and-conditions.pdf">Terms and conditions</a></p>
                </blockquote>
            </div>
            <div class="col-lg-6">
                <blockquote>
                    <p>{{fa-icon 'university'}} &nbsp; KvK 82744238</p>
                     <p>{{fa-icon 'euro'}} &nbsp; BTW NL003724468B54</p>
                </blockquote>
            </div>
        </div>
    </div>

</div>

