<div class="row marketing">
    <div class="col-lg-12">
        <h4 class="with-fa">{{fa-icon 'plus-square' class='text-success'}}&nbsp; Dependable and down-to-earth</h4>
        <p>
            I provide professional consultancy on advanced software development, methodologies, tooling, people and
            processes for web-based applications.
        </p>

        <h4 class="with-fa">{{fa-icon 'plus-square' class='text-success'}}&nbsp; From start to finish non-stop</h4>
        <p>
            I do full stack development over the complete software development life cycle: user stories, testing,
            implementation, testing, deployment, testing, all the way through after-care, maintenance and testing.
        </p>

        <h4 class="with-fa">{{fa-icon 'plus-square' class='text-success'}}&nbsp; Team management and the fun factor</h4>
        <p>
            I take coaching and motivating teams seriously, encouraging a sense of fun in order to build
            stuff that we can be proud about.
        </p>

        <h4 class="with-fa">{{fa-icon 'plus-square' class='text-success'}}&nbsp; Straight-forward and pragmatic work ethos</h4>
        <p>
            I believe in a hands-on roll up your sleeves attitude where getting the job done right the very first time
            is the name of the game.
        </p>

        <h4 class="with-fa">{{fa-icon 'plus-square' class='text-success'}}&nbsp; Lots and lots of testing</h4>
        <p>
            I am a real stickler when it comes to testing, and where possible I introduce automated testing as early as
            possible in order to avoid introducing unnecessary bugs.
        </p>
    </div>
</div>