<div class="row marketing">
    <div class="col-lg-12">
        <h4>Skills and expertise</h4>
        <p>
            With more than thirty years of experience, I've had the pleasure to work in the wonderful world
            of software development and can offer services and consultancy in a number of areas.
        </p>

        <div class="row skills">
            <div class="col-lg-6">
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Team management</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Agile and Scrum</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; JavaScript, jQuery and Ember</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Backbone, Express and Node</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; HTML, CSS, Sass and Bootstrap</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; WebdriverIO, Selenium and Mocha</p>
            </div>

            <div class="col-lg-6">
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Ruby and Ruby on Rails</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Linux, Apache and MySQL</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Perl and C/C++</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Elixir and Phoenix</p>
                <p>{{fa-icon 'check' class='text-success'}}&nbsp; Test-Driven Development</p>
            </div>
        </div>
    </div>
</div>
