<div class="row marketing">
    <p class="lead"><strong>Skills and expertise</strong></p>
    <div class="col-lg-12">
        <p>
            With more than thirty years of experience, I've had the pleasure to work in the wonderful world
            of software development and can offer services and consultancy in a number of areas.
        </p>
    </div>
    <div class="col-lg-6">
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Team management</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Agile and Scrum</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; JavaScript, jQuery and Ember</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Backbone, Express and Node</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; HTML, CSS, Sass and Bootstrap</h4>
    </div>

    <div class="col-lg-6">
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Ruby and Ruby on Rails</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Linux, Apache and MySQL</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Perl and C/C++</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Elixir and Phoenix</h4>
        <h4>{{fa-icon 'check' size='2' class='text-success'}}&nbsp; Test-Driven Development</h4>
    </div>
</div>
